</br>
<div class="jumbotron">
	<h1>Wiki</h1>
	<p>Wiki is a resource for sharing your information either publicly or privately!</p>
	<p>
		<%= link_to "Sign In", new_user_session_path, class: 'btn btn primary' %> or
		<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
	</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Solves Information Overload</h2>
		<p>Reduces brain stress by shifting the burden from your brain to Wiki.</p>
	</div>
	<div class="col-md-4">
		<h2>Improves Your Efficiency</h2>
		<p>Having all your information in one place enables you to quickly retrieve it.</p>
	</div>
	<div class="col-md-4">
		<h2>Private or Public?</h2>
		<p>You can choose who you want to share your information with.</p>
	</div>
</div>